HTTP_PORT=8080
LOG_LEVEL=debug
TILES_PATH=~/dev/swayrider/localdata/tiles
STYLES_PATH=~/dev/swayrider/swayrider/assets/map/styles  # Points to in-repo assets; adjust for your checkout path
COMPRESSION_ENABLED=true
COMPRESSION_CACHE_SIZE=200
DISK_CACHE_ENABLED=true
DISK_CACHE_PATH=~/dev/swayrider/localdata/cache
DISK_CACHE_MAX_FILES=2000
SERVICE_HOST=https://tiles.hevanto-it.com
SERVICE_PORT=
SERVICE_PREFIX=/v1/tiles
